* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.main-body {
  width: 100%;
  min-height: 100vh;
  background: url("https://store.akamai.steamstatic.com/public/images/v6/colored_body_top.png?v=2")
    center top no-repeat #1b2838;
  background: #1b2838;
}
.header {
  margin: auto;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #171d25;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
  font-size: large;
  font-weight: 500;
}
header ul li a {
  text-decoration: none;
  color: white;
  border-radius: 20px;
}
header ul li a:hover {
  color: #c6d4df;
}
header ul li a.active {
  color: #1a9fff;
  text-decoration: underline;
}

.middle-navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 16px;
  height: 40px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
}

.navigation-links {
  display: flex;
  gap: 70px;
  align-items: center;
  height: 100%;
}

.navigation-links li {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.search-area {
  display: flex;
  align-content: center;
}

#search-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

#search-icon img {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.genres-area {
  width: 185px;
}
.genres-header {
  margin-top: 20px;
  color: #536f86;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bolder;
}
.genres-area ul {
  color: #7a8b9d;
  cursor: pointer;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.genres-area ul li:hover {
  color: #54a5d4;
}
.genres-group {
  font-size: 15px;
  font-weight: 550;
}

.games-list {
  background-color: #57667d;
}
.navigation-types {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 16px;
  align-items: center;
  list-style-type: none;
  color: #c6d4df;
  cursor: pointer;
  font-size: 14px;
}
.navigation-types li:hover {
  background-color: gray;
}
.navigation-types li.active {
  color: white;
  border-bottom: 2px solid #fff;
}
.games {
  background-color: #444b57;
  border-radius: 5px;
  color: white;
  margin-bottom: 4px;
  height: 110px;
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.game-tags {
  list-style: none;
  display: flex;
  gap: 10px;
}

.game-tags li {
  background-color: #1a9fff;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.game-cta {
  display: flex;
  align-items: center;
}

.info-games img {
  width: 240px;
  height: 100px;
  margin: 5px 0;
}
.info-games info {
  display: inline;
}

@media screen and (max-width: 768px) {
  .navigation-links {
    gap: 20px;
  }

  main {
    flex-direction: column;
  }
}
